.searchContainer {
  display: flex;
  align-items: center;
  margin: 20px;
  border: 1px solid #afafaf; /* Add border */
  border-radius: 15px; /* Add rounded corners */
}

.searchLabel {
  font-weight: bolder;

  padding: 10px;
}

.searchInput {
  flex: 1; /* Take remaining space */
  padding: 10px; /* Add padding for better appearance */


}
